<div class="container">
    <img src="assets/main3.jpg" alt="restaurant image" class="main-image">
    <div><img src="assets/happy.svg.svg" alt="restaurant detils image" class="text-image"></div>
    <div class="top-left">Food dudes
    </div>

    <div class="bottom-nav-bar">
        <a [routerLink]="['contact']">
            <div class="bottom-left-1">
                Contact us</div>
        </a>
        <a [routerLink]="['locate']">
            <div class="bottom-left-2">Locate us</div>
        </a>
        <a [routerLink]="['menu']">
            <div class="bottom-left-3">Menu</div>
        </a>
    </div>

    <div class="flex-container">
        <div class="item">
            At the Food dudes, there’s a space for every occasion. From the private party meal, and the festival feasts,
            to the outdoor party. Your guests will be thrilled as you bring your meals from the Food dude.<br><br> Order
            your
            first meal today, right now.
        </div>
    </div>

</div>