@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");



* {
  font-family: 'Poppins', sans-serif;

}

.menu-image {
  padding: 0;
  height: 70vh;
  width: 100%;
  object-fit: cover;
}

.item {

  margin-top: -10vh;
  height: 8vh;
  position: absolute;
  bottom: 56%;
  left: 50%;
  font-size: 4rem
}

.navbar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;
  background-color: #1D4A4D;
  position: fixed;
  top: 0;
  width: 100%;
  height: 8%;
  font-size: 2rem;
  padding-left: 2%;
  color: white;
  z-index: 3;

}

#Brand {
  font-family: 'Great Vibes', cursive !important;
}

.flex-container {
  display: flex;
  position: relative;
}

/* .sub-menu1 {
  height: 200px;
  display: flex;
}

.sub-menu2 {
  height: 200px;
  display: flex;
}

.sub-menu3 {
  height: 200px;
  display: flex;
}

.sub-menu4 {
  height: 200px;
  display: block;
} */




.example-card {

  width: 16vw;
  min-height: 37vh;
  background-color: #1d4a4da1;
  margin: 1rem;

}

.sub-menu {
  height: 30vh;
  border-radius: 50%;
  margin-top: 0.5rem;
  object-fit: cover;
  width: 15rem;
  height: 15rem;
}


.image-flex {
  display: flex;
  justify-content: center;
}

.food-name {
  font-size: 1.5rem;
  text-align: center;
  margin: 0.3rem;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  margin-right: 0.5rem;
  margin-left: 0.5rem;
}

.cost_button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.25rem;
  padding: 0.5rem
}

.flex-container {
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 66%;
  padding-top: 2rem;
}

.flex-main {
  display: flex;
  justify-content: center;



}

#sub-image_5 {
  margin-top: 20px;
}

#sub-image_6 {
  margin-top: 20px;
}

#sub-image_7 {
  margin-top: 20px;
}

#sub-image_8 {
  margin-top: 20px;
}

.sub_button {
  position: absolute;
  margin-top: 29vh;
  height: 4vh;
  left: 77%;
}

.dish-course {
  display: flex;
  flex-direction: column;
  /* padding-right: 26rem; */
  line-height: 5rem;
  margin-top: 2rem;
  font-size: 1.25rem;
  width: max-content;
  position: sticky;
  top: 8%;
  height: fit-content;
  margin-right: 10vw;
}

.dishtype:hover {
  background-color: #1d4a4da1;
  color: white;
}


.dishtype {
  padding: 0.5rem;
  cursor: pointer;
}

.check {
  background-color: #1d4a4da1;
}



.search {
  height: 2rem;
  margin-right: 0.5rem;
  width: 40%;
}

/* #search_1 {
 
} */


a {
  text-decoration: none !important;
}

.Search-box {
  flex: 100%;
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
  position: sticky;
  top: 8%;
  height: fit-content;
  background-color: white;
  z-index: 2;
}

.check-box {
  padding: 0.9rem;
  border: 1px solid #9e9e9e !important;
  /* margin: 0 2rem; */
}

.example-margin:checked {
  background-color: #9e9e9e
}

#veg {
  margin-left: 3rem;
  margin-right: 1rem;
}

#non-veg {
  margin-left: 1rem;
  margin-right: 1rem;
}


.add-remove {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border: 1px solid #9e9e9e;
  width: 33%;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.addIcon {
  cursor: pointer;

}

.addIcon:hover {
  color: white;
}

.removeIcon {
  cursor: pointer;
}

.removeIcon:hover {
  color: white;
}

.dishes-card {
  display: flex;
  flex-wrap: wrap;
  /* margin-left: -10rem; */
}

.mat-cart-class {
  display: flex;
  position: relative;
}


.cart {
  height: fit-content;
  position: sticky;
  top: 16%;

}

.sub-cart {
  font-size: 32px;
  font-weight: 600;
  padding-bottom: 18px;
}

.cart-item {
  font-size: 20px;
  padding-bottom: 18px;
}

.name-price {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-size: 1rem;
  margin: 0.5rem 0.5rem;
}

/* .item-price {
  margin: 0.5rem 2rem;
} */

.add-remove {
  margin: 0.5rem 0.5rem;
  width: 50%;
}

.total {
  display: flex;
  justify-content: space-between;
  margin: 0.5rem 0.5rem;
  font-weight: 600;
  font-size: 1.2rem;
}

.dishes-cart {
  width: 20vw;
}

.removeIcon-1:hover {
  color: #1D4A4D;
}

.addIcon-1:hover {
  color: #1D4A4D;
}

.dishtype-selected {
  color: #1d4a4d;
  font-weight: 800;
}

.searchError {
  position: absolute;
  top: 30%;
  font-size: 1.2rem;
  color: #ff0000e0;
}