<div class="container">
    <img src="assets/new menu.jpg" alt="menu image" class="menu-image">


    <div class="item">
        Menu
    </div>
    <div class="navbar">
        <div>
            Food dudes
        </div>
    </div>
    <!-- <div class="flex-container">
        <img src="assets/food1.jpg" alt="sub-menu-image" class="sub-menu1">
        <img src="assets/food1.jpg" alt="sub-menu-image" class="sub-menu2">
        <img src="assets/food1.jpg" alt="sub-menu-image" class="sub-menu3">
        <img src="assets/food1.jpg" alt="sub-menu-image" class="sub-menu4">
    </div> -->
    <div class="flex-main">
        <div class="flex-container">
            <mat-card class="example-card">
                <img src="assets/food1.jpg" alt="sub-menu-image" class="sub-menu">
            </mat-card>
            <mat-card class="example-card">
                <img src="assets/food1.jpg" alt="sub-menu-image" class="sub-menu">
            </mat-card>

            <mat-card class="example-card">
                <img src="assets/food1.jpg" alt="sub-menu-image" class="sub-menu">
            </mat-card>

            <mat-card class="example-card">
                <img src="assets/food1.jpg" alt="sub-menu-image" class="sub-menu">
            </mat-card>

            <mat-card class="example-card">
                <img src="assets/food1.jpg" alt="sub-menu-image" class="sub-menu">
            </mat-card>
            <mat-card class="example-card">
                <img src="assets/food1.jpg" alt="sub-menu-image" class="sub-menu">
            </mat-card>

            <mat-card class="example-card">
                <img src="assets/food1.jpg" alt="sub-menu-image" class="sub-menu">
            </mat-card>

            <mat-card class="example-card">
                <img src="assets/food1.jpg" alt="sub-menu-image" class="sub-menu">
            </mat-card>
        </div>
    </div>
</div>