.main-image {
  padding: 0;
  height: 100vh;
  width: 100%;
  object-fit: cover;
}

.text-image {
  height: 160vh;
  margin-top: -112vh;
  position: absolute;
  right: 0%
}


.container {
  position: relative;

  color: white;
  overflow: hidden;
  height: 100vh
}

.top-left {
  position: absolute;
  top: 3%;
  left: 2%;
  font-size: 2rem;
  color: white
}

.bottom-nav-bar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #fff;
  /* height was 8vh and margin-top is -10vh */
  height: 10vh;
  margin-top: -13vh;
  width: 30%;
  font-size: 1.5rem;

}

a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
}


.item {
  position: absolute;
  bottom: 45%;
  right: 5%;
  font-size: 2rem;
  /* width: -moz-fit-content; */
  width: 40%;
  line-height: 1
}

.flex-container {
  padding: 10px;
  width: 20em;
}