<div class="container">
    <a href="">
        <div class="navbar">
            <div id="Brand">
                Food dudes
            </div>
        </div>
    </a>
    <!-- <div class="locate-image">
        <img src="assets/locateus_image.jpg" alt="locate-us-image" class="locate">
    </div> -->

    <div class="super-div">
        <div class="branch">
            <div class="header-1">
                Branch 1
            </div>
            <div class="branch-info">
                <div class="adress">
                    Adress:1664/4A,3rd main, 5th cross, BEML Layout Rajarajeshwari nagar Bangalore
                </div>
                <div class="Mobileno">
                    Mobile No.:6784567379
                </div>
                <div class="email">
                    Email id:pakashala1.rr@gmail.com
                </div>


            </div>
        </div>
        <div class="branch">
            <div class="header-1">
                Branch 2
            </div>
            <div class="adress">
                adress:1664/3A,3rd main, 5th cross, KEML Layout adarsh nagar Bangalore
            </div>
            <div class="Mobileno">
                Mobile No.:7894563478
            </div>
            <div class="email">
                Email id:pakashala2.ad@gmail.com
            </div>
        </div>
        <div class="branch">
            <div class="header-1">
                Branch 3
            </div>
            <div class="adress">
                adress:1664/5A,3rd main, 5th cross, gandi Layout hosakera nagar Bangalore
            </div>
            <div class="Mobileno">
                Mobile No.:7897863478
            </div>
            <div class="email">
                Email id:pakashala3.ad@gmail.com
            </div>
        </div>


    </div>

</div>